body {
    background-color: black;
    color: #FFB70D;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
}

.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-icon {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #FFD700;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    position: relative;
}

#cart-container {
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    color: #FFB70D;
    margin-top: 20px;
}

#clear-cart-button {
    background-color: #FFB70D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

#clear-cart-button:hover {
    background-color: #FFD700;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    text-align: right;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .logo {
        width: 80%;
        max-width: 600px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .profile-icon {
        top: -10px;
        right: 10px;
        width: 50px;
        height: 50px;
    }
    #cart-container {
        width: 95%;
        margin: 20px auto;
        padding: 10px;
    }
    .cart-item {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .total-price {
        font-size: 18px;
    }
    #clear-cart-button {
        width: 100%;
        font-size: 14px;
        padding: 12px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 14px;
        padding-right: 10px;
    }
}
